{% extends 'base.html' %}

{% load static %}
{% block content %}

    <div class="product">
        <div class="product__inner">
            <div class="product__images swiper">
                <div class="swiper-wrapper">
                    {% for image in images %}
                        <div class="swiper-slide">
                            <img src="{{ MEDIA_URL }}{{ image }}" alt="">
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>   
            </div>
            <div class="product__text">
                <div class="product__name">{{ product.mark }} {{ product.model }}</div>
                <div class="product__price">{{ product.price }} ₽</div>
                <div class="product__attributes">
                    <div class="product__attributes">
                        <button>Характеристики машины</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script type="module">

    const swiper = new Swiper('.swiper', {
            // Optional parameters
        loop: true,
          // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        });

</script>

</div>
{% endblock %}