{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ page_title }}</title>
    <style>
        @font-face {
            font-family: 'Concrete';
            src: url("{% static 'fonts/Concrete-Regular.otf' %}");
        }   
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>