body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}


.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 200px 200px;
}

.img {
	width: 150px;
}

.item {
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(248, 168, 24);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;

	transition: background .2s linear;
}

.btn:hover {
	background: lightgreen;
}

.usercard {
	text-align: center;
}
* {
    box-sizing: border-box;
}


body {
    font-family: 'Concrete';
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.container {
    max-width: 400px;
}

.cards {
    padding: 7px;
    row-gap: 10px;
    column-gap: 10px;
    display: grid;
    background-color: var(--tg-theme-bg-color);
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 250px 250px 250px; */
}

.card {
    border-radius: 10%;
    background-color: rgb(25, 23, 23);
    /* background-color: rgb(69, 67, 67); */
}

.card__image {
    width: 100%;
    border-radius: 10%;
}

.card__price {
    font-size: 14px;
}

.card__name {
    font-size: 12px;
}

.card__text {
    padding: 5px;
}

.card__btn {
    padding: 5px;
}

.card__btn>button {
    cursor: pointer;
    width: 100%;
    border-radius: 15px;
    border: none;
    padding-bottom: 5px;
}

.card {
    text-decoration: none;
    color: var(--tg-theme-text-color) !important;
    background-color: var(--tg-theme-secondary-bg-color);
}

.swiper {
    width: 100%;
}


.swiper-pagination-bullet-active {
    background-color: var(--tg-theme-button-text-color) !important;
}

.swiper-slide>img {
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
}

.product__name {
    margin-top: 10px;
    font-weight: bold;
    font-size: 24px;
}

.product__price {
    font-size: 25px;
}

.product__attributes>button {
    background-color: inherit;
    border: none;
    color: var(--link_color);
    font-size: 22px;
    cursor: pointer;
}

.product__text {
    padding: 10px;
}

/* item detail */

